<div class="container">
  <div class="logo-container">
    <img src="assets/youtube-cyber-logo.jpg" alt="Cyber YouTube">
  </div>
  
  <div class="row mb-4">
    <div class="col-md-6">
      <div class="cyber-input-group">
        <input type="text" [(ngModel)]="query" class="form-control" placeholder="Search YouTube Videos">
        <button (click)="searchVideos()" class="btn btn-primary mt-2 w-100">
          <span class="glitch-text">Search</span>
        </button>
      </div>
    </div>
    <div class="col-md-6">
      <div class="cyber-input-group">
        <input type="text" [(ngModel)]="videoId" class="form-control" placeholder="Enter YouTube Video ID">
        <button (click)="loadVideo()" class="btn btn-primary mt-2 w-100">
          <span class="glitch-text">Load Audio</span>
        </button>
      </div>
    </div>
  </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <select [(ngModel)]="maxResults" class="form-control" title="Select maximum results">
            <option *ngFor="let result of maxResultsOptions" [ngValue]="result">{{ result }}</option>
        </select>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-md-12">
        <div *ngIf="loading" class="text-center">
          <div class="spinner-border" role="status">
            <span class="sr-only"></span>
          </div>
        </div>
          <div class="badge">{{ videoTitle }}</div>
          <audio *ngIf="videoUrl && !loading" [src]="videoUrl" controls class="w-100"></audio>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-12">
        <div class="cyber-cards">
          <div *ngFor="let video of searchResults" class="card mb-4">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img [src]="video.thumbnails.high.url" class="card-img" alt="{{ video.title }}">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{ video.title }}</h5>
                  <p class="card-text">{{ video.author }}</p>
                  <p class="card-text">{{ video.publishedAt | date:'MMM d, y HH:mm'  }}</p>
                  <p class="card-text">
                    <span class="cyber-time">{{ video.duration }}</span>
                  </p>
                  <div class="button-group">
                    <button (click)="playVideo(video.id, video.title)" class="btn btn-primary">
                      <span class="glitch-text">Play Audio</span>
                    </button>
                    <button (click)="playAndSaveVideo(video.id, video.title)" class="btn btn-primary">
                      <span class="glitch-text">Play & Save</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-12 text-center">
        <button (click)="previousPage()" class="btn btn-primary me-3" [disabled]="page === 1">Previous</button>
        <button (click)="nextPage()" class="btn btn-primary" [disabled]="page * pageSize >= totalResults.length">Next</button>
      </div>
    </div>
  </div>